@use "sass:map";
@use '@angular/material' as mat;
@use '../../../../styles/variables' as v;


.container{
    height:400px
}
.card{
    width:400px;
}
.my-card-header-title{
    color: map.get(v.$my-purple-color,300)
} 
.my-card-shadow{
    @include mat.elevation(7, mat.get-color-from-palette(v.$my-primary, 300, 0.8));
   }

