<h1 class="text-center" mat-dialog-title>Intervention</h1>
<form
  [formGroup]="eventForm"
  (ngSubmit)="onSubmit()"
  class="d-flex justify-content-center flex-wrap"
>
  <div
    mat-dialog-content
    class="d-flex flex-row justify-content-start flex-wrap"
  >
    <div class="container-info">
      <h5>Informations</h5>
      <div class="container-title">
        <mat-form-field appearance="outline">
          <mat-label>Titre</mat-label>
          <input matInput formControlName="title" />
        </mat-form-field>
      </div>
      <div class="container-hours d-flex flex-nowrap">
        <mat-form-field appearance="outline">
          <mat-label>Heure de début</mat-label>
          <input
            matInput
            name="startTime"
            formControlName="startTime"
            [format]="format"
            [ngxMatTimepicker]="pickerStart"
            readonly
          />
          <mat-icon matSuffix (click)="pickerStart.open()"
            >watch_later</mat-icon
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Heure de fin</mat-label>
          <input
            matInput
            name="endTime"
            formControlName="endTime"
            [format]="format"
            [ngxMatTimepicker]="pickerEnd"
            readonly
          />
          <mat-icon matSuffix (click)="pickerEnd.open()">watch_later</mat-icon>
        </mat-form-field>
      </div>
    </div>

    <div
      class="container-client-cheval d-flex justify-content-start w-100 flex-nowrap"
    >
      <div>
        <h5>Client</h5>
        <mat-form-field appearance="outline">
          <mat-label>Nom</mat-label>
          <mat-select
            formControlName="nomClient"
            (selectionChange)="onSelected($event)"
          >
            <mat-select-filter
              [array]="clients"
              [displayMember]="'nom'"
              (filteredReturn)="filteredClients = $event"
            ></mat-select-filter>
            <mat-option
              *ngFor="let client of filteredClients; index as i"
              [value]="client"
              >{{ client["nom"] }} {{ client["prenom"] }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div formArrayName="otherFields" *ngIf="selectedClient !== undefined">
        <div
          *ngFor="
            let field of eventForm.controls['otherFields']['value'];
            index as i
          "
        >
          <h5>Cheval</h5>
          <mat-form-field appearance="outline">
            <mat-label>cheval</mat-label>
            <mat-select
              (selectionChange)="onClickHorse($event)"
              [value]="choosenHorse"
            >
              <mat-option
                [value]="horse"
                *ngFor="let horse of selectedClient.horses; index as i"
                >{{ horse.nom }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="container-client">
      <div class="container-ecurie">
        <h5>Ecurie</h5>
        <mat-form-field appearance="outline">
          <mat-label>Ecurie</mat-label>
          <input matInput formControlName="ecurie" />
        </mat-form-field>
      </div>
      <div class="container-adresse">
        <h5>Adresse intervention</h5>

        <div class="container-ecurie-adresse">
          <mat-form-field appearance="outline">
            <mat-label>Numéro Rue</mat-label>
            <input matInput formControlName="rue" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label> Rue</mat-label>
            <input matInput formControlName="nomRue" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Code Postal</mat-label>
            <input matInput formControlName="codePostal" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Ville</mat-label>
            <input matInput formControlName="ville" />
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="d-flex justify-content-between">
    <button mat-raised-button color="primary" mat-dialog-close>Fermer</button>
    <button
      type="submit"
      [disabled]="!eventForm.valid"
      mat-raised-button
      color="primary"
    >
      Valider
    </button>
  </div>
</form>
<ngx-mat-timepicker #pickerStart></ngx-mat-timepicker>
<ngx-mat-timepicker #pickerEnd></ngx-mat-timepicker>
