
    <p> Bonjour {{prenom | title}} </p>
    <p> Voici le compte-rendu de la séance de Shiatsu. </p>
    <p> Ne pas hésiter si vous avez des questions et à me donner des nouvelles de {{nom_cheval | title}}.</p>
    <p> Bonne journée </p>
    <p> Lucile </p>

    
   
    
