@import '../../../../styles/variables';

#linkReport, #sendReport,#makeReport{
    cursor: pointer;
}

#delete{
    mat-icon{
        cursor:pointer;
    }
}
th{
    background-color:var(--bg-color-th) !important;
}

