@use "@angular/material" as mat;
@import "../../node_modules/bootstrap/scss/bootstrap-grid";
@import './theme';


@include mat.core();

// apply to components

@include mat.all-component-themes($my-theme);  
@include mat.typography-hierarchy($my-theme);

html, body {
   height: 100%;
   margin:0;
}
//Utils

.debug-red{
   border:solid 2px red;
}

.debug-green {
   border:solid 2 px green;
}
.debug-blue{
   border:solid 2px blue;
}

.debug-pink {
   border:solid 2px pink;
}

p{
   margin:0 !important;
}

a{
   text-decoration:none;
   color:inherit;
}

ul{
   margin:0;
   padding:0;
}

li{
   list-style-type: none;
}
.text-center{
   text-align:center;
}
.w-100{
   width:100%;
}

// full calendar

:root {
   --bs-button-bg-color: #b479cb !important;
   --bs-border-color: #651b8d;
   --bs-button-active-bg-color: #651b8d;
   --bs-button-border-color : #651b8d;
   --bs-button-hover-bg-color: #651b8d;
   --bs-today-bg-color:#dfc5e9;
 }
 
