<div class="d-flex justify-content-between flex-wrap p-5">
  <h2 class="mat-h2 w-100">Message</h2>
  <p class="w-100 pt-1">
    From:
    <span [ngStyle]="{ color: 'grey' }"
      >{{ contactMail.prenom && contactMail.prenom }}
      {{ contactMail.nom && contactMail.nom }}&#x3008;{{
        contactMail.email
      }}&#x3009;</span
    >
  </p>
  <p class="w-100 pt-1 pb-1">
    Objet: <span [ngStyle]="{ color: 'grey' }">{{ contactMail.titre }} </span>
  </p>
  <p class="w-100 pb-1 mb-2">
    Date : <span [ngStyle]="{ color: 'grey' }">{{ contactMail.date | date : "dd/MM/yyyy HH:mm" : "GMT" }} </span>
  </p>
  <pre class="w-100 mat-body-1 message">{{ contactMail.message }}</pre>
  <div
    class="container-button w-100 pb-3 mt-2 d-flex justify-content-start"
    *ngIf="!response && !contactMail.contactMailResponse"
  >
    <a [routerLink]="['/admin/contacts']"
      ><button mat-button type="button" color="primary">Retour</button>
    </a>

    <button
      type="button"
      mat-button
      color="accent"
      (click)="setReadToContactMail()"
      *ngIf="!contactMail.messageLu"
    >
      Marquer comme lu
    </button>

    <button mat-raised-button color="accent" (click)="displayResponse(true)">
      Répondre
    </button>
  </div>
  <div class="w-100" *ngIf="response && !contactMail.contactMailResponse">
    <form [formGroup]="responseForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="w-100" color="accent">
        <mat-label>Réponse</mat-label>
        <textarea matInput formControlName="response" class="mat-body-1"></textarea>
      </mat-form-field>
      <div class="w-100 d-flex justify-content-start container-button">
        <button mat-raised-button type="button" color="primary" (click) = displayResponse(false)>Annuler</button>
        <button
          mat-raised-button
          color="accent"
          type="submit"
          [disabled]="!responseForm.valid"
        >
          Envoyer
        </button>
      </div>
    </form>
  </div>
  <pre *ngIf="contactMail.contactMailResponse" class="response mat-body-1"> {{contactMail.contactMailResponse.response}}</pre>
</div>
