@import '../../../../styles/variables';

.container-button {
  gap: 15px;
}
hr {
  width: 100%;
  text-align: left;
  border: 1px solid var(--fc-button-bg-color);
}
.message{
  background-color:rgb(247, 247, 247);
  padding:10px;
}
.response{
  background-color:rgb(247, 247, 247);
  padding:10px;
  margin-left:20px;
}
