@import '../../../../styles/variables';

.container-button {
  gap: 15px;
}
hr {
  width: 100%;
  text-align: left;
  border: 1px solid var(--fc-button-bg-color);
}
textarea{
    line-height: 1.4em !important;
}
